html
    head
        meta(charset="utf-8")
    body
        div 这是一段内容,this is a content
            span ****
        div
            a(href="http://www.baidu.com") 百度链接
            a(href="http://www.baidu.com") 百度链接
            a(href="http://www.baidu.com") 百度链接
            a(href="http://www.baidu.com") 百度链接
            a(href="http://www.baidu.com") 百度链接
        