<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%
            let a = 100
            let b = 200
        %>
        <span><%= a+b %></span>


        <% for(let i=1;i<=10;i++ ){ %>

            <li>li - <%= i %></li>

        <% } %>


</body>
</html>